{% extends 'base.html.twig' %}

{% block title %}Liste des pokemons - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Liste des pokemons</h1>
    <hr>
    <div class="row">
        {% for pokemon in pokemons %}
            <div class="col-3 mb-4">
                {% include 'Partials/_pokemon-card.html.twig' with {'pokemon': pokemon} %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
